.wrapper {
  display: flex;
  align-items: center;
  background: #fcedec;
  height: 48px;
  text-align: center;
  padding: 0 16px;
  margin-bottom: 20px;
  border-radius: 4px;
  color: #d84644;
}

.message {
  color: #5f2120;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
  margin: 0px 0px 0px 8px;
}
