.todo-card {
  width: 900px;
  margin: 2em auto;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
  padding-bottom: 20px;
}

.row-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
