<mat-card class="todo-card">
  <mat-card-header>
    <mat-card-title>Add to do </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <app-todo-form (refreshTodos)="refreshTodos($event)"></app-todo-form>
  </mat-card-content>
</mat-card>

<mat-card class="todo-card">
  <mat-card-header>
    <div class="row-space-between">
      <mat-card-title>Todo list</mat-card-title>
      <mat-form-field appearance="fill">
        <select matNativeControl [(ngModel)]="language">
          <option value="fr">France</option>
          <option value="ne">Nepali</option>
          <option value="hi">Hindi</option>
          <option value="en">English</option>
          <option value="it">Italy</option>
          <option value="es">Spain</option>
        </select>
      </mat-form-field>
    </div>
  </mat-card-header>
  <mat-card-content>
    <div class="list">
      <app-todo-item
        *ngFor="let todo of todoList"
        [todo]="todo"
        [language]="language"
        (refreshTodos)="refreshTodos($event)"
      ></app-todo-item>
    </div>
  </mat-card-content>
</mat-card>
