<mat-list-item>
  <div class="row-spaced">
    <div class="row">
      <mat-checkbox
        class="example-margin"
        [checked]="isCompleted"
        color="primary"
      ></mat-checkbox>
      <div>
        <p matListItemTitle>{{ todo?.title }}</p>
        <p matListItemLine>{{ todo?.description }}</p>
      </div>
    </div>
    <div class="row" *ngIf="todo?.completed === false">
      <button
        mat-icon-button
        aria-label="Example icon button with a home icon"
        (click)="selectTodo()"
      >
        <mat-icon>edit</mat-icon>
      </button>
      <button
        mat-icon-button
        color="warn"
        aria-label="Example icon button with a home icon"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
</mat-list-item>
