<div class="wrapper">
  <div class="detail">
    <div class="title" matListItemTitle>{{ translation }}</div>
  </div>
  <div class="row">
    <button
      mat-stroked-button
      class="button"
      aria-label="Translate icon"
      color="primary"
      (click)="translate()"
    >
      <div *ngIf="loading === 'translate'">
        <mat-spinner diameter="20"></mat-spinner>
      </div>
      <div *ngIf="loading !== 'translate'">Translate</div>
    </button>
    <button mat-flat-button color="warn" class="button" (click)="delete()">
      <div *ngIf="loading === 'delete'">
        <mat-spinner diameter="20"></mat-spinner>
      </div>
      <div *ngIf="loading !== 'delete'">Delete</div>
    </button>
  </div>
</div>
