<form class="todo-form" [formGroup]="todoForm">
  <mat-form-field>
    <mat-label>Title</mat-label>
    <input
      matInput
      placeholder="Title"
      formControlName="title"
      [(ngModel)]="formData.title"
    />
    <mat-error> Please provide a valid title for item </mat-error>
  </mat-form-field>
  <div>
    <button
      mat-raised-button
      color="primary"
      [disabled]="!todoForm.valid || loading === true"
      type="submit"
      (click)="onSubmit()"
    >
      <div *ngIf="loading === true">
        <mat-spinner diameter="20"></mat-spinner>
      </div>
      <div *ngIf="loading === false">Add</div>
    </button>
  </div>
</form>
