<form class="todo-form" [formGroup]="todoForm">
  <mat-form-field>
    <mat-label>Title</mat-label>
    <input
      matInput
      placeholder="Title"
      formControlName="title"
      [(ngModel)]="formData.title"
    />
    <mat-error> Please provide a valid title for item </mat-error>
  </mat-form-field>
  <div>
    <button
      mat-raised-button
      color="primary"
      [disabled]="!todoForm.valid"
      type="submit"
      (click)="onSubmit()"
    >
      Add
    </button>
  </div>
</form>

<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
