/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: whitesmoke;
}

.spacer {
  flex: 1 1 auto;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.row-spaced {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.align-center {
  align-items: center;
}
